.Proper {
  margin-top: 30px;
  margin-bottom: 90px;
}

/* .Proper  .Proper -left */
.Proper .Proper-left {
  width: 506px;
  height: 859px;
  background: #51459E;
  border-radius: 15px;
  margin-left: -1px;
  margin-top: 1px;
}

.Proper .Proper-left .Proper-left-top {
  margin-top: 24px;
}

.Proper .Proper-left .Proper-left-top .progress {
  background: #776FAB;
  border-radius: 5.44182px;
  width: 460.4px;
  height: 9px;
}

.Proper .Proper-left .Proper-left-top .progress .progress-bar {
  background: #84E8F4;
  border-radius: 4.37955px;
}

.Proper .Proper-left .Proper-left-top .small-list {
  display: flex;
  margin-top: 9px;
  margin-left: 8px;
}

.Proper .Proper-left .Proper-left-top .small-list .small-1 {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 10.8765px;
  line-height: 22px;
  letter-spacing: -0.184065px;
  color: #84E8F4;
}

.Proper .Proper-left .Proper-left-top .small-list .small-2 {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 10.8765px;
  line-height: 22px;
  letter-spacing: -0.184065px;
  color: #84E8F4;
  margin-left: 41px;
}

.Proper .Proper-left .Proper-left-top .small-list .small-3 {
  margin-left: 30px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 10.8765px;
  line-height: 22px;
  letter-spacing: -0.184065px;
  color: #84E8F4;
}

.Proper .Proper-left .Proper-left-top .small-list .small-4 {
  margin-left: 35px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 10.8765px;
  line-height: 22px;
  letter-spacing: -0.184065px;
  color: #FFFFFF;
}

.Proper .Proper-left .Proper-left-top .small-list .small-5 {
  margin-left: 31px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 10.8765px;
  line-height: 22px;
  letter-spacing: -0.184065px;
  color: #FFFFFF;
}

.Proper .Proper-left .Proper-left-title {
  margin-top: 71px;
}

.Proper .Proper-left .Proper-left-title h4 {
  width: 305.77px;
  height: 70px;
  margin-left: 17px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-left: 19px;
}

.Proper .Proper-left .Proper-left-title p {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-top: 52px;
  margin-left: 20px;
  width: 387px;
}

.Proper .Proper-left .Proper-left-title label {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 12.6177px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-left: 8px;
  margin-top: 7px;
}

.Proper .Proper-left .Proper-left-title input {
  width: 13.78px;
  height: 11.78px;
  background: #84E8F4;
  margin-left: -4px;
  border-radius: 1px;
  margin-top: 6px;
}

.Proper .Proper-left .Proper-left-title .span-one {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 12.6177px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  opacity: 0.5;
  margin-left: 42px;
}

.Proper .Proper-left .Proper-left-title .span-tow {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 12.6177px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  opacity: 0.5;
  margin-left: 42px;
}

/* Proper-right */
.Proper .Proper-right {
  width: 634px;
  height: 860px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-top: 2px;
}

.Proper .Proper-right h5 {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 18.7999px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: #51459E;
  margin-top: 143px;
  margin-left: 58px;
  margin-bottom: 13px;
}

.Proper .Proper-right .size-right-form {
  margin-top: 26px;
  margin-left: 57px;
}

.Proper .Proper-right .size-right-form .cheka input {
  opacity: 0.5;
  border: 1.1068px solid #000000;
  border-radius: 5.6336px;
  width: 452.57px;
  height: 49.63px;
  margin-left: -30px;
  margin-top: 27px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 14.084px;
  line-height: 15px;
  letter-spacing: -0.03em;
  color: #000000;
  opacity: 0.4;
}

.Proper .Proper-right .size-right-form .cheka span {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 14.084px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: #000000;
  opacity: 0.4;
  margin-top: -7px;
  margin-left: -29px;
  position: absolute;
}

.Proper .Proper-right .size-right-form .slider {
  margin-top: 86px;
}

.Proper .Proper-right .size-right-form .slider p {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 18.7819px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: #51459E;
}

.Proper .Proper-right .size-right-form .slider img {
  width: 469.03px;
  height: 275.11px;
  margin-top: 36px;
  margin-left: 2px;
}
.Proper .Proper-right .Proper-right-form .butonssd {
  margin-top: 83px;
  margin-left: 90px;
}

.Proper .Proper-right .Proper-right-form .butonssd .onw-dark {
  width: 118.33px;
  height: 39.44px;
  background: #cccccc;
  border: none;
  border-radius: 82.1661px;
}

.Proper .Proper-right .Proper-right-form .butonssd .onw-dark .onw-dark-a {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 16.4332px;
  line-height: 28px;
  letter-spacing: -0.278101px;
  opacity: 5;
  color: #51459E;
}

.Proper .Proper-right .Proper-right-form .butonssd .tow-dark {
  background: #84E8F4;
  border-radius: 82.1661px;
  width: 217px;
  height: 39px;
  border: none;
  margin-left: 9.88px;
}

.Proper .Proper-right .Proper-right-form .butonssd .tow-dark .tow-dark-a {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 16.4499px;
  line-height: 28px;
  letter-spacing: -0.278383px;
  color: #51459E;
}