.voice {
  margin-top: 30px;
  margin-bottom: 90px;
}

/* .voice .voice-left */
.voice .voice-left {
  width: 506px;
  height: 625px;
  background: #51459E;
  border-radius: 15px;
  margin-left: -1px;
  margin-top: 2px;
}

.voice .voice-left .voice-left-top {
  margin-top: 24px;
}

.voice .voice-left .voice-left-top .progress {
  background: #776FAB;
  border-radius: 5.44182px;
  width: 460.4px;
  height: 9px;
}

.voice .voice-left .voice-left-top .progress .progress-bar {
  background: #84E8F4;
  border-radius: 4.37955px;
}

.voice .voice-left .voice-left-top .small-list {
  display: flex;
  margin-top: 9px;
  margin-left: 8px;
}

.voice .voice-left .voice-left-top .small-list .small-1 {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 10.8765px;
  line-height: 22px;
  letter-spacing: -0.184065px;
  color: #84E8F4;
}

.voice .voice-left .voice-left-top .small-list .small-2 {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 10.8765px;
  line-height: 22px;
  letter-spacing: -0.184065px;
  color: #FFFFFF;
  margin-left: 41px;
}

.voice .voice-left .voice-left-top .small-list .small-3 {
  margin-left: 30px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 10.8765px;
  line-height: 22px;
  letter-spacing: -0.184065px;
  color: #FFFFFF;
}

.voice .voice-left .voice-left-top .small-list .small-4 {
  margin-left: 35px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 10.8765px;
  line-height: 22px;
  letter-spacing: -0.184065px;
  color: #FFFFFF;
}

.voice .voice-left .voice-left-top .small-list .small-5 {
  margin-left: 31px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 10.8765px;
  line-height: 22px;
  letter-spacing: -0.184065px;
  color: #FFFFFF;
}

.voice .voice-left .voice-left-title {
  margin-top: 71px;
}

.voice .voice-left .voice-left-title h4 {
  width: 274.49px;
  height: 70px;
  margin-left: 17px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.voice .voice-left .voice-left-title p {
  width: 201.76px;
  height: 50px;
  left: calc(50% - 235.76px/2 - 421.23px);
  top: 381.15px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-top: 52px;
  margin-left: 21px;
}

/* voice-right */
.voice .voice-right {
  width: 634px;
  height: 625px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-top: 2px;
}

.voice .voice-right .voice-right-form {
  margin-top: 137px;
  margin-left: 62px;
}

.voice .voice-right .voice-right-form label {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #51459E;
  margin-left: -7px;
}

.voice .voice-right .voice-right-form .input {
  opacity: 0.5;
  border: 1.1068px solid #000000;
  border-radius: 5.63425px;
  width: 345.96px !important;
  height: 42.07px !important;
  margin-top: 9px;
  margin-left: -4px;
}

.voice .voice-right .voice-right-form .chek {
  margin-top: 50px;
}

.voice .voice-right .voice-right-form .chek p {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #51459E;
  margin-left: -6px;
}

.voice .voice-right .voice-right-form .chek label {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 14.0856px;
  line-height: 15px;
  letter-spacing: -0.03em;

  color: #000000;
}

.voice .voice-right .voice-right-form .chek .form-check .formcheck {
  width: 12.62px !important;
  height: 12.62px !important;
  margin-top: 7px !important;
  margin-left: -27px !important;
}

.voice .voice-right .voice-right-form .select {
  margin-top: 68px;
}

.voice .voice-right .voice-right-form .select p {
  margin-top: -3px;
  margin-left: -5px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #51459E;
}

.voice .voice-right .voice-right-form .select select {
  width: 96px;
  height: 42px;
  margin-top: 20px;
  margin-left: -5px;
  opacity: 0.5;
  border: 1.1068px solid #808080;
  border-radius: 5.63996px;
}

.voice .voice-right .voice-right-form .butonssd {
  margin-top: 82px;
  margin-left: 56px;
}

.voice .voice-right .voice-right-form .butonssd .onw-dark {
  width: 118.33px;
  height: 39.44px;
  background: #cccccc;
  border: none;
  border-radius: 82.1661px;
}

.voice .voice-right .voice-right-form .butonssd .onw-dark .onw-dark-a {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 16.4332px;
  line-height: 28px;
  letter-spacing: -0.278101px;
  opacity: 5;
  color: #51459E;
}

.voice .voice-right .voice-right-form .butonssd .tow-dark {
  background: #84E8F4;
  border-radius: 82.1661px;
  width: 237px;
  height: 39px;
  border: none;
  margin-left: 9.88px;
}

.voice .voice-right .voice-right-form .butonssd .tow-dark .tow-dark-a {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 16.4332px;
  line-height: 28px;
  letter-spacing: -0.278101px;
  color: #51459E;
}