/* main */
#main {
  margin-top: 40px;
  margin-bottom: 101px;
}

/* welcom */
.top-welcom {
  height: 199.67px;
  background: #51459E;
  box-shadow: 0px 11.6667px 36.6667px rgb(81 69 158 / 20%);
  border-radius: 15px;
  margin-left: -1px;
  margin-top: -9px;
}

.top-welcom h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  padding: 20px;
  color: #84E8F4;
  margin-top: 8px;
  margin-left: 3.6px;
}

.top-welcom p {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 13px;
  color: #DEE1E6;
  margin-top: -17px;
  margin-left: 25px;
}

.top-welcom .button1 {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  color: #51459E;
  width: 145.81px;
  height: 36.77px;
  background: #84E8F4;
  border-radius: 41.6667px;
  border: none;
  left: calc(50% - 116px/2 - 491px);
  top: 0px;
  position: relative;
}

.top-welcom .button2 {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  color: #DEE1E6;
  width: 109.81px;
  height: 36.77px;
  border: 0.833333px solid #DEE1E6;
  border-radius: 41.6667px;
  background: none;
  margin-left: 6px;
  margin-top: 0px;
  position: relative;
}

/* top */

.top {
  margin-top: 40px;

}

.top .top-top {
  border: 1px solid #CACACB;
  border-radius: 15px;
  height: 430px;
  width: 560px;
  margin-top: -10px;
  margin-left: 0px;
}

.top .top-button {
  height: 429px;
  width: 559px;
  border: 1px solid #CACACB;
  border-radius: 15px;
  margin-top: -9px;
  margin-left: 19px;
}

.top .top-top .Recent {
  display: flex;
  margin-top: 11px;
}

.top .top-top .Recent h3 {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #51459E;
  margin-left: 14.6px;
  margin-top: 25.9px;
  position: relative;
}

.top .top-top .Recent span {
  margin-top: 20px;
  color: #51459E;
  font-size: 19px;
  margin-left: 125px;
}

.top .top-top .buttons {
  width: 522px;
  height: 57px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 45px;
  margin-left: 6px;
}

.top .top-top .buttons img {
  margin-left: 7px;
  margin-top: 9.9px;
  width: 35px;
}

.top .top-top .buttons p {
  position: relative;
  left: 11%;
  right: 72.41%;
  top: -64%;
  bottom: 62.75%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.141026px;
  color: #171717;
}

.top .top-top .buttons span {
  position: relative;
  left: 11%;
  right: 77.46%;
  top: -96%;
  bottom: 61.71%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.141026px;
  color: #8F92A1;
}

.top .top-top .buttons strong {
  position: relative;
  left: 61.65%;
  right: 52.1%;
  top: -110.35%;
  bottom: 62.15%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.141026px;
  color: #00875A;

}

.top .top-top .buttons .img {
  position: relative;
  width: 18px;
  height: 11px;
  left: 336px;
  top: -68px;
}

/* buttonss */
.top .top-top .buttonss {
  width: 522px;
  height: 57px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 6px;
}

.top .top-top .buttonss img {
  margin-left: 7px;
  margin-top: 12.9px;
  width: 35px;
}

.top .top-top .buttonss p {
  position: relative;
  left: 11%;
  right: 72.41%;
  top: -75%;
  bottom: 62.75%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.141026px;
  color: #171717;
}

.top .top-top .buttonss span {
  position: relative;
  left: 58px;
  top: -105%;
  bottom: 61.71%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.141026px;
  color: #8F92A1;
}

.top .top-top .buttonss strong {
  position: relative;
  left: 321px;
  right: 54.1%;
  top: -113.35%;
  bottom: 62.15%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.141026px;
  color: #DE350B;
}

.top .top-top .buttonss .img {
  position: relative;
  width: 25px;
  height: 15px;
  top: -74px;
  left: 331px;
}

/* buttonsss */
.top .top-top .buttonsss {
  width: 522px;
  height: 57px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 6px;
}

.top .top-top .buttonsss img {
  margin-left: 9px;
  margin-top: 11.9px;
  width: 34px;
}

.top .top-top .buttonsss p {
  position: relative;
  left: 11%;
  right: 72.41%;
  top: -67%;
  bottom: 62.75%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.141026px;
  color: #171717;
}

.top .top-top .buttonsss span {
  position: relative;
  left: 11%;
  right: 77.46%;
  top: -99%;
  bottom: 61.71%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.141026px;
  color: #8F92A1;
}

.top .top-top .buttonsss strong {
  position: relative;
  left: 247px;
  right: 54.1%;
  top: -114%;
  bottom: 62.15%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.141026px;
  color: #00875A;
}



.top .top-top .buttonsss .img {
  position: relative;
  width: 13px;
  height: 18px;
  left: 260px;
  top: -70px;
}

.top-top .open {
  margin-top: 79px;
  margin-left: 387px;
  bottom: 43.38%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.141026px;
  color: #51459E;
}

.top-top .open span {
  margin-left: 3px;
  width: 13px;
}

.top-top .open span img {
  width: 13px;
  height: 10.82px;

}

/*  .top-button */
.top .top-button .Recent {
  display: flex;
}

.top .top-button .Recent h3 {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #51459E;
  margin-left: 17px;
  margin-top: 36px;
}

.top .top-button .Recent span {
  margin-top: 32px;
  margin-left: 97px;
  color: #51459E;
}

.top .top-button .buttons {
  width: 522px;
  height: 51px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 44px;
  display: flex;
  margin-left: 7px;
}

.top .top-button .buttons p {
  position: relative;
  left: 3.67%;
  right: 27.7%;
  top: 32.28%;
  bottom: 62.12%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.161753px;
  color: #171717;
  transform: matrix(1, 0, -0.01, 1, 0, 0);
}

.top .top-button .buttons a {
  position: relative;
  left: 36%;
  right: 7.86%;
  top: 36.42%;
  bottom: 62.29%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.161753px;
  color: #51459E;
}

/* buttonss */
.top .top-button .buttonss {
  width: 522px;
  height: 52px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 13px;
  display: flex;
  margin-left: 7px;
}

.top .top-button .buttonss p {
  position: relative;
  left: 3.67%;
  right: 27.7%;
  top: 33.28%;
  bottom: 62.12%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.161753px;
  color: #171717;
  transform: matrix(1, 0, -0.01, 1, 0, 0);
}

.top .top-button .buttonss a {
  position: relative;
  left: 41%;
  right: 7.86%;
  top: 37.42%;
  bottom: 62.29%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.161753px;
  color: #51459E;
}

.top-button .open {
  margin-left: 77%;
  margin-top: 154px;
  bottom: 43.38%;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.141026px;
  color: #51459E;
}

.top-button .open span {
  margin-left: 0px;
  width: 13px;
}

.top-button .open span img {
  width: 13px;
  height: 10.82px;

}

/* beta */
.beta {
  border: 1px solid #CACACB;
  border-radius: 15px;
  width: 1141px;
  height: 95.01px;
  margin-top: 30px;
  margin-left: 1px;
}

.beta h4 {
  margin-left: 15px;
  right: 63.49%;
  margin-top: 3%;
  bottom: 34.11%;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #808080;
}

.beta button {
  position: absolute;
  width: 202px;
  height: 37px;
  left: calc(50% - 202px/2 + 439.29px);
  top: 843.96px;
  background: #808080;
  border-radius: 410px;
  border: none;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {

  .container {
    max-width: 720px;
  }

  /* nav */
  #menu-icon {
    position: absolute;
    margin-left: 84%;
    font-size: 22px;
    display: block;

  }

  .logo {
    margin-left: -20px;
    display: grid;
  }

  .links {
    display: none;
  }

  .left {
    display: none;
  }

  .top .top-top {
    margin: auto;
  }

  .top .top-top .buttons p {
    position: relative;
    margin-left: -1%;
    margin-top: -16%;
    right: 0;
  }

  .top .top-top .buttons span {
    position: relative;
    margin-left: -2%;
    top: 44%;
    right: 0;
  }

  .top .top-top .buttons strong {
    position: relative;
    left: 60.97%;
    top: 40.65%;
  }

  .top .top-top .buttons .img {
    position: relative;
    left: 308px;
    top: 16.5px;
  }

  .top .top-top .buttonss p {
    position: relative;
    left: 11%;
    right: 0;
    top: -61%;
  }

  .top .top-top .buttonss span {
    position: relative;
    left: 11%;
    right: 0;
    top: -94%;
  }

  .top .top-top .buttonss strong {
    position: relative;
    left: 58.97%;
    right: 54.1%;
    top: -110.35%;
  }

  .top .top-top .buttons {
    width: 514px;
  }

  .top .top-top .buttonss .img {
    position: relative;
    left: 295px;
    top: -65.5px;
  }

  .top .top-top .buttonsss p {
    position: relative;
    left: 11%;
    right: 0;
    top: -60%;
  }

  .top .top-top .buttonsss span {
    position: relative;
    left: 11%;
    right: 0;
    top: -91%;
  }

  .top .top-top .buttonsss strong {
    position: relative;
    left: 59.97%;
    right: 54.1%;
    top: -109.35%;
  }

  .top .top-top .buttonsss .img {
    position: relative;
    left: 299px;
    top: -65.5px;
  }

  .top .top-top .buttons {
    width: 514px;
  }

  .top .top-top .buttonss {
    width: 514px;
  }

  .top .top-top .buttonsss {
    width: 514px;
  }

  .top-top .open {
    position: absolute;
    left: 61.58%;
    top: 137.27%;
  }

  .top .top-button {
    margin: auto;
    margin-top: 17px;
  }

  .top-links {
    margin-left: -4px;
  }

  .top .top-button .buttons p {
    position: relative;
    left: 4.67%;
    top: 35.28%;
  }

  .top .top-button .buttons a {
    position: relative;
    left: 29.65%;
    top: 36.42%;
  }

  .top .top-button .buttonss p {
    position: relative;
    left: 4.67%;
    top: 35.28%;
  }

  .top .top-button .buttonss a {
    position: relative;
    left: 30.65%;
    top: 36.42%;
  }

  .top-button .open {
    position: absolute;
    left: 61.58%;
    top: 220.27%;
  }

  .beta {
    width: 550px;
    position: relative;
  }

  .beta h4 {
    position: relative;
    left: 4.32%;
    right: 0;
    top: 44%;
  }

  .beta button {
    left: calc(50% - 202px/2 + 152.29px);
    top: -1%;
    position: relative;
  }

  #footer {
    display: none;
  }
}


@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .top-welcom {
    margin-left: 0;
    margin-top: 0;
  }

  #menu-icon {
    margin-left: 81%;
  }

  .top-welcom .button1 {
    left: 0;
  }

  .top .top-top .buttons {
    margin-left: 0px;
  }

  .top .top-top .buttonss {
    margin-left: 0px;
  }

  .top .top-top .buttonsss {
    margin-left: 0px;
  }

  .top .top-top .buttonsss strong {
    left: 42.97%;
  }

  .top .top-top .buttonsss .img {
    left: 228px;
  }

  .top .top-top .buttons .img {
    position: relative;
    left: 314px;
    top: 16.5px;
  }

  .top .top-top .buttonss .img {
    position: relative;
    left: 300px;
    top: -69.5px;
  }

  .top .top-button .buttons {
    width: 514px;
    margin-left: 0px;
  }

  .top .top-button .buttonss {
    width: 514px;
    margin-left: 0px;
  }

  .beta {
    width: 550px;
    margin-left: -3px;
  }

  .beta h4 {
    position: relative;
    left: 0.32%;
    right: 0;
    top: 24%;
  }

  .beta button {
    left: calc(50% - 202px/2 + 152.29px);
    top: -16%;
  }

  .top-top .open {
    position: initial;
    left: 2%;
  }

  .top-button .open {
    position: initial;
    left: 61.58%;
    top: 187.27%;
  }

  .top .top-button .Recent span {
    margin-top: 32px;
    margin-left: 54%;
    color: #51459E;
  }

  #footer {
    display: block;
  }

  #footer .top {
    margin: auto;
  }

  #footer .top-sds {
    display: none;
  }

  #footer .top .inmg {
    margin-top: 20px;
    width: 236px;
    margin-left: 17px;
  }

  #footer .top p {
    margin-top: 23px;
    margin-left: 17px;
    font-family: 'Factor A';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: -0.209776px;
    color: #8F92A1;
  }

  .top-links {
    margin-left: 28px;
    margin-top: 26px;
  }

  #footer .p {
    text-align: center;
  }
}



@media screen and (max-width: 450px) {
  .container {
    max-width: 370px;
  }



  .top-welcom {
    margin-left: 0;
    margin-top: 0;
  }

  .top-welcom p {
    font-size: 14px;
  }

  #menu-icon {
    margin-left: 71%;
  }

  .top-welcom .button1 {
    left: 0;
  }

  .top .top-top .buttons p {
    margin-left: 14px;
    margin-top: 4px;
    right: 0;
  }

  .top .top-top .buttons {
    margin-left: 0px;
    width: 341px;
  }

  .top .top-top .buttonss {
    margin-left: 0px;
    width: 341px;
  }

  .top .top-top .buttonsss {
    margin-left: 0px;
    width: 341px;
  }

  .top .top-top .buttons span {
    position: relative;
    margin-left: 2%;
    top: -94%;
    right: 0;
  }

  .top .top-top .buttonsss strong {
    left: 18.97%;
  }

  .top .top-top .buttonsss .img {
    left: 73px;
  }

  .top .top-top .buttons strong {
    position: relative;
    left: 40.97%;
    top: -114.35%;
  }

  .top .top-top .buttons .img {
    position: relative;
    left: 148px;
    top: -73.5px;
  }

  .top .top-top .buttonss .img {
    position: relative;
    left: 300px;
    top: -69.5px;
  }

  .top .top-button .buttons {
    width: 342px;
    margin-left: 0px;
  }

  .top .top-button .buttonss {
    width: 342px;
    margin-left: 0px;
  }

  .beta {
    width: 550px;
    margin-left: -3px;
  }

  .beta h4 {
    position: relative;
    left: 0.32%;
    right: 0;
    top: 24%;
    font-size: 15px;
  }

  .beta button {
    left: calc(50% - 202px/2 + 152.29px);
    top: -16%;
    width: 116px;

  }

  .top-top .open {
    margin-left: 173px;
  }

  .top-button .open {
    position: initial;
    left: 61.58%;
    top: 187.27%;
  }

  .top .top-button .Recent span {
    margin-top: 32px;
    margin-left: 54%;
    color: #51459E;
  }

  #footer {
    display: block;
  }

  #footer .top {
    margin: auto;
  }

  #footer .top-sds {
    display: none;
  }

  #footer .top .inmg {
    margin-top: 22px;
    width: 236px;
    margin-left: 55px;
  }

  #footer .top p {
    margin-top: 22px;
    margin-left: 53px;
    font-family: 'Factor A';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: -0.209776px;
    color: #8F92A1;
  }

  .top-links {
    margin-left: 48px;
  }

  #footer .p {
    text-align: center;
  }

  .top .top-top .buttonss p {
    position: relative;
    left: 14%;
  }

  .top .top-top .buttonss span {
    position: relative;
    left: 14%;
  }

  .top .top-top .buttonss strong {
    position: relative;
    left: 41.97%;
  }

  .top .top-top .buttonss .img {
    position: relative;
    left: 144px;
  }

  .top .top-top .buttonsss p {
    position: relative;
    left: 15%;
  }

  .top .top-top .buttonsss span {
    position: relative;
    left: 15%;
  }

  .top .top-button .buttons p {
    position: relative;
    left: 4.67%;
    font-size: 12px;
  }

  .top .top-button .buttons a {
    position: relative;
    left: 13.65%;
    top: 36.42%;
    font-size: 12px;
  }

  .top .top-button .buttonss p {
    position: relative;
    left: 4.67%;
    font-size: 12px;
  }

  .top .top-button .buttonss a {
    position: relative;
    left: 19.65%;
    top: 36.42%;
    font-size: 12px;
  }

  .top .top-button .Recent h3 {
    font-size: 17px;
  }

  .top-button .open {
    margin-left: 57%;
    margin-top: 119px;
  }
}